@import "tailwindcss";

@theme {
  --color-primary-start: #F51036;
  --color-primary-end: #25137A;
  --color-accent: #F51036;

  --font-sans: 'Noto Sans Thai', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-body: 'Noto Sans Thai', ui-sans-serif, system-ui, sans-serif;

  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: var(--font-sans);
}